/* Mobile */
@media screen and (max-width: 420px){
    
    /*HEADER*/
    #header-intro{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    nav{
        display: flex;
        flex-direction: column;
        line-height: 24px;
    }
   
    nav h1{
        font-size: 1.4rem;
    }

    nav h1, p{
        font-weight: 700;
    }

    nav p{
        color: var(--dark-grayish-blue);
    }

    .menuSwitch{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        border-top: 1px #000 solid;
        padding-top: 10px;
    }

    main{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    /*CARDS - SOCIAL MIDIAS*/
    article{
        background-color: var(--test);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 40px;
    }

    .header-card{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .header-card img{
       margin-right: 6px;
    }

    .header-card p{
        margin-right: 10px;
        color: var(--dark-grayish-blue);
        font-weight: 700;
        font-size: 1rem;
     }

     article section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
     }

     article section h2{
        font-size: 52px;
        font-weight: 700;
     }

     article section p{
        letter-spacing: 3px;
        color: var(--dark-grayish-blue);
     }

     footer{
        display: flex;
        padding: 20px 0px;
        color: var(--lime-green);
     }

     footer img{
        display: flex;
        align-self: center;
        width: 12px;
        margin-right: 2px;
     }

     .card-face{
        border-top: 4px solid var(--facebook);
        border-radius: 1%;
     }

     .card-insta{
       /* TODO: ADICIONAR LINEAR*/
        border-top: 4px solid hsl(329, 70%, 58%); 
        border-radius: 1%;
     }

     .card-youtube{
        /* TODO: ADICIONAR LINEAR*/
         border-top: 4px solid var(--youtube); 
         border-radius: 1%;
      }


    /*VIEWS - SOCIAL MIDIAS*/

    .cards-views{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .cards-views-tittle{
        font-weight: 700;
        margin-bottom: 20px;
    }

    .cards-views-tittle h2{
        font-weight: 700;
        color: var(--dark-grayish-blue);
        font-size: 1.4rem;
    }

    .card-view{
        margin-bottom: 16px;
    }

    .card-view header{
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        width: 100%;
        color: var(--dark-grayish-blue);
    }

    .card-view footer{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        width: 100%;
    }

    .card-view footer h3{
       font-size: 2.2rem;
       font-weight: 700;
       color: black;
    }

    .colorDown{
        color:hsl(329, 70%, 58%);
    }

   
    .info-views{
        display: flex;
        align-items: center;
        font-size: 1rem;
    }
   
}







  /*
  Social Media Dashboard
  Total Followers: 23,004

  Dark Mode

  

  @nathanf
  1987
  Followers
  12 Today

  @nathanf
  1044
  Followers
  99 Today

  @realnathanf
  11k
  Followers
  1099 Today

  Nathan F.
  8239
  Subscribers
  144 Today



  Overview - Today

  Page Views
  87
  3%

  Likes
  52
  2%

  Likes
  5462
  2257%

  Profile Views
  52k
  1375%

  Retweets
  117
  303%

  Likes
  507
  553%

  Likes
  107
  19%

  Total Views
  1407
  12%	
  
  
  */